absl-py==0.8.0
astor==0.8.0
astroid==2.2.5
attrs==19.1.0
certifi==2019.9.11
chardet==3.0.4
dill==0.3.0
future==0.17.1
gast==0.3.2
google-pasta==0.1.7
googleapis-common-protos==1.6.0
grpcio==1.23.0
h5py==2.10.0
idna==2.8
isort==4.3.21
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.2
Markdown==3.1.1
mccabe==0.6.1
numpy==1.16.4
promise==2.2.1
protobuf==3.9.1
psutil==5.6.3
pylint==2.3.1
requests==2.22.0
six==1.12.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-datasets==1.2.0
tensorflow-estimator==1.14.0
tensorflow-metadata==0.14.0
termcolor==1.1.0
tqdm==4.36.1
typed-ast==1.4.0
urllib3==1.25.5
Werkzeug==0.16.0
wrapt==1.11.2
